/*Estilos Generales*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/*Colores Texto*/
.text-blue{
    color: blue;
}
/*Colores de fondo*/
.bg-white{
    background-color:white;
}

.bg-gray{
    background-image: url("../img/mak-xIG1sDfZoSA-unsplash.jpg");
    background-size: cover;
    background-position:25% 25%;
}
/*Contenedor del formulario*/
.form-container{
    padding: 4rem;
    width: 30%;
    height: 20rem;
    /*border:<tipo el borde> <medida del borde> <color del borde>*/
    border: solid 0.1rem gray;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    flex-direction:column;
    /*box-shadow: <posicion en y><poosicion en x><nivel de distorcion><color>*/
    box-shadow: -11px 11px 10px  rgba(0, 0, 0, 0.911);
}

/*Contenedor de los inputs */
.input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-radius: 0.4rem;
    border: solid 0.1rem rgba(0, 0, 255, 0.801);
    padding: 0.4rem;
    flex-direction: column;
}
/*Contenedor checkbox*/
.check-container{
    margin-top: 0.7rem;
}
.check-container input{
    margin-right: 0.3rem;
}
/*Estilos del  botón*/
.btn-container{
    margin-top:2rem;
    display: flex;
    justify-content: center;
}
.btn{
    padding: 0.7rem;
    background-color: dodgerblue;
    border:0px;
    border-radius: 0.3rem;
    color: white;
}
.btn:hover{
    background-color: yellow;
    color: black;
}
/*Alineación del formulario*/
.screen-form{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}